:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --accent-color-2: #ffffff;
    --background-color: #2F303A;
    --background-color-2: #F5F4FA; 
    }

body {
    font-family: 'Roboto', sans-serif;
    color: var(--title-text-color); }
   
    .container main-nav {
        display: flex;
            }

.page-header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;  
    padding-top: 24px;
    padding-bottom: 25px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    width: 1200px;
     
}

.logo { 
font-family: 'Raleway', sans-serif;
color:var(--accent-color);

font-size: 26px;
font-weight: 700;
line-height: 1.19;
letter-spacing: 0.03em;
}

.logo-studio {
    color: #000000;
    font-size: 26px; 
    font-weight: 700; 
    line-height: 1.19;
    letter-spacing: 0.03em;
    }

ul {
    list-style-type: none;
padding: 0;
margin: 0;
}
.button-portfolio-nav {
    margin-bottom: 50px;
}

.our-team { 
    background: var(--background-color-2);
    padding-bottom: 94px;
}
 
.our-team-title {
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 94px;
    
}
.link {
    display: flex;
    margin-left: 93px;
    }
 
.link .item {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
      
    color: var(--title-text-color);
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em

}
 
.link .item:not(:last-child) {
    margin-right: 50px; ;
 }

.links .links-current {
    color: var(--title-text-color);
    }

.links:hover ,
.links:focus ,
.links-current {
    color:var(--accent-color); }

.nav {
display: block;

 
    color:var(--primary-text-color);
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
 }

 .link-adress .item + .item {
    margin-left: 50px
}

 .link-adress {
     display: flex;
     align-items: center;
 }

 .address {
   margin-left: auto;  
 }

.nav:hover ,
.nav:focus {
    color:var(--accent-color);}

.nav:active {
color: tomato;}

 .main-nav {
display: flex;
align-items: center;
}

.specifity-container {
    display: flex;
 }
   .specifity-text {
width: 270px;}

.specifity-text:not(:last-child) {
margin-right: 30px;
}
  
.portfolio-nav:hover ,
.portfolio-nav:focus {
    background: var(--accent-color);
    color: var(--accent-color-2);}

.hero {
    background: var(--background-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
   
 }

.hero-title {
    
    margin-top: 0;
    margin-bottom: 40px;
    
   color: var(--accent-color-2);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
 }

button {
        font-family: inherit;
        background: var(--accent-color);
        color: var(--accent-color-2);
       padding: 10px 32px;
       border-radius: 4px;  
       display: inline-block;
       min-width: 200px;  
       font-size: 16px;
       text-align: center;
       font-weight: 700;
       line-height: 1.86;
       letter-spacing: 0.06em;
       border: 1px solid transparent;
    }
    
 a {     
    text-decoration: none;
    color: inherit; 
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

h2 {
    
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;}
    
.specifity {
    color: var(--title-text-color);
    margin-left: 0;
    margin-right: 0;
    font-size: 14px;  
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
        }

.section-work {
    padding-top: 0px;
    padding-bottom: 94px;
}

p.specifity-firm {
color:var(--primary-text-color);
margin-top: 0;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.03em;
text-align: left;
}

.work {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}
.team-img {
    display:flex;
    width: 270px;
   flex-wrap: wrap;
   margin: -15px;
   justify-content: space-between;
   }
.img2 {
   border: 1px solid #F5F4FA;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
   background-color: var(--accent-color-2);
   text-align: center;
   


}
.img2:not(:last-child){
        margin-right: 15px;}

  .team  {
       color:var(--title-text-color);  
       margin-top: 30px;
       margin-bottom: 10px;
       font-size: 16px;
       font-weight: 500;
       line-height: 1.19;
       letter-spacing: 0.03em;
       text-align: center;
    }
   
     .position {
        color:var(--primary-text-color);
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-align: center;
     }

     .img-work {
        display: flex;
        margin-top: 0;
       width: 370px;
        }

     .img:not(:last-child) {
        margin-right: 30px;
}



     .team-img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
       
        padding: 0 15px;
        width: 1200px; }

        .portfolio-nav {
            color: var(--title-text-color);
            background: var(--background-color-2);
            font-family: inherit;
            padding: 6px 22px;
            border-radius: 4px;  
            min-width: 73px;  
            display: inline-block;    
            font-weight: 500;
            font-size: 16px;
            line-height: 1.63;
            letter-spacing: 0.03em;
            text-align: center;
            
                }

.flex-container {
   
    display: flex;
    justify-content: center;}
    
.button-portfolio:not(:last-child) {
    margin-right: 8px;}
   

.flex-img {
    display: flex;
    flex-wrap: wrap;
    margin:-15px;
}
.img-portfolio {
    width: 370px;
    margin: 15px;
    border: 1px solid #F5F4FA;
    ;
  }

.img-portfolio:nth-child(3n) {
margin-right: 0px;
}

.img-portfolio:nth-last-child(-n + 3) {
    margin-bottom: 0px;
    }

ul > .product-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    }




.product {
margin-top: 4px;
color:var(--primary-text-color);
font-size: 16px;
font-weight: 400;
line-height: 1.9;
letter-spacing: 0.03em;
text-align: left;
}
.product-name {
     margin-bottom: 0px;
}
.product-title {
padding: 20px 24px;
}
footer {
   background:var(--background-color);
   padding-top: 60px;
   padding-bottom: 60px;
    }
 
 .logo-footer {
    color: var(--accent-color-2);
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-size: 26px; 
    font-weight: 700; 
    line-height: 1.19;
    letter-spacing: 0.03em;
 }
a.nav {
    margin-bottom: 9px;
    margin-top: 9px;
}
 .map {
 color: var(--accent-color-2);
 margin-top: 20px;

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.03em;
text-align: left;
}